<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver3.board.BoardMapper">
    <insert id="insBoard">
        INSERT INTO t_board
        (iuser, title, ctnt)
        value
        ( #{iuser}, #{title}, #{ctnt})
    </insert>

    <select id="selBoard" resultType="BoardVo">
        SELECT A.iboard, A.title, A.created_at createdAt, B.nm writer, B.main_pic writerMainPic
        from t_board A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        ORDER BY iboard DESC
        LIMIT ${startIdx}, ${rowLen}
    </select>

    <select id="selMaxBoard" resultType="int">
        SELECT count(iboard)
        from t_board
    </select>

    <select id="selBoardDetail" resultType="BoardDetailVo">
        SELECT A.iboard, A.title, A.ctnt, B.nm writer, A.created_at, A.updated_at, B.main_pic
        FROM t_board A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        WHERE iboard = ${iboard}
    </select>

    <delete id="delBoard">
        DELETE FROM t_board
        WHERE iuser = ${iuser} AND iboard = ${iboard}
    </delete>

</mapper>
